* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navbar styles */

nav {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  border-bottom: 0.5px solid rgb(207, 207, 207);
  z-index: 1;
}

.nav-right {
  display: flex;
  justify-content: space-around;
  width: 220px;
}

.nav-left {
  display: flex;
  justify-content: space-around;
  width: 260px;
}

.icon {
  width: 17px;
  height: 17px;
}

h4 {
  font-family: Arial, Helvetica, sans-serif ;
}

.logo {
  font-family: "Times New Roman", Times, serif;
}

button {
  padding: 11px 12px 8px;
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  vertical-align: middle;
  background-color: rgb(86, 123, 149);
  color: rgb(255, 255, 255);
  font-size: 11px;
  line-height: 11px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 3px;
  transition: all 0.6s ease 0s;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(50, 104, 145);
  border-image: initial;
}

/* Article Styles */

.wrapper {
  margin: 0 auto;
  max-width: 80%;
  margin-top: 100px;
}

#header {
  margin: 0 auto;
  max-width: 950px;
}

#jumbo {
  max-width: 950px;
  height: auto;
}

#page-header {
  margin: 0 auto;
  font-size: 40px;
  width: 600px;
  font-weight: bold;
}

.image-wrapper {
  margin-top: 20px;
}

.caption {
  width: 700px;
}

.credit {
  font-size: 0.8em;
}

section {
  margin: 20px auto 20px auto;
  width: 600px;
}

section p {
  margin: 20px 0;
  font-size: 1.25rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 2rem;
}

p.subheader {
  font-weight: bold;
}

.sidebar {
  width: 200px;
  height: 300px;
  background-color: aqua;
  position: absolute;
  left: 1100px;
  top: 1780px;
}
